body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px;
}

h1 {
    font-size: 48px;
    font-weight: normal;
}

.count-text {
    font-size: 18px;
    margin-top: 20px;
}

.underline {
    width: 200px;
    margin-left: 0;
    margin-top: 10px;
    border: 1px solid white;
}

.error {
    color: red;
    display: none;
    margin-top: 20px;
}

.button-container {
    margin-top: 30px;
}

.btn {
    background-color: white;
    color: black;
    padding: 10px 25px;
    border: none;
    margin-right: 10px;
    cursor: pointer;
}

.clear-btn {
    background-color: transparent;
    color: white;
    padding: 10px 25px;
    border: 1px solid white;
    cursor: pointer;
    display: none;
}